/* src/pages/Contacto.css */
.contact-page {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    text-align: left;
  }
  
  .form-group label {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group textarea {
    height: 150px;
    resize: vertical;
  }
  
  .submit-btn {
    background-color: #004d4d; /* Verde */
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #018f3d;
  }
  
  @media (max-width: 768px) {
    .contact-page {
      padding: 20px;
    }
  }
  